{{ openhab_persistence_mqtt_brokername }}.url={{ openhab_persistence_mqtt_url }}
{{ openhab_persistence_mqtt_brokername }}.user={{ openhab_persistence_mqtt_user }}
{{ openhab_persistence_mqtt_brokername }}.pwd={{ openhab_persistence_mqtt_password }}
{{ openhab_persistence_mqtt_brokername }}.clientId={{ openhab_persistence_mqtt_clientid }}
{{ openhab_persistence_mqtt_brokername }}.retain=true
