[Unit]
Description=openHAB 2 - empowering the smart home
Documentation=https://www.openhab.org/docs/
Documentation=https://community.openhab.org
Wants=network-online.target
After=network-online.target

[Service]
#Environment=OPENHAB_HOME={{ openhab_path_application }}
#Environment=OPENHAB_CONF={{ openhab_path_conf }}
#Environment=OPENHAB_RUNTIME={{ openhab_path_application }}/runtime
#Environment=OPENHAB_USERDATA={{ openhab_path_userdata }}
#Environment=OPENHAB_LOGDIR={{ openhab_path_log }}
#Environment=OPENHAB_STARTMODE=daemon
EnvironmentFile={{ openhab_path_environment }}

User={{openhabian_user}}
Group={{openhabian_group}}

GuessMainPID=yes
WorkingDirectory={{ openhab_path_application }}
ExecStart={{ openhab_path_application }}/start.sh server
ExecStop=/bin/kill -SIGINT $MAINPID

#ExecStart={{ openhab_path_application }}/runtime/bin/karaf $OPENHAB_STARTMODE
#ExecStop={{ openhab_path_application }}/runtime/bin/karaf stop

SuccessExitStatus=0 143
RestartSec=5
Restart=on-failure
TimeoutStopSec=120

LimitNOFILE=102642

[Install]
WantedBy=multi-user.target
