# the apikey for authentication (generated on the Prowl website)
apikey={{openhabian_openhab_prowl_apikey}}

# the default priority of a Prowl notifications (optional, defaults to '0')
#defaultpriority=

# the url of the Prowl public api
# (optional, defaults to 'https://prowl.weks.net/publicapi/')
url=https://api.prowlapp.com/publicapi/
